/* MAIN FEEDS */

#main-screen {
    display:flex;
    width: 100vw;
    z-index: -1000;
    overflow: hidden;
}

#sidebar {
    background-color: rgb(50, 47, 46);
    display: flex;
    padding: 1vw;
    color: antiquewhite;
    z-index: 1000;
    overflow-wrap: break-word;
    overflow-y: scroll;
}

#sidebar a {
    font-family: "Work Sans", serif;
    font-size: 1.5vw;
    margin: 15px;
    color: antiquewhite;
}

#sidebar a:hover {
    font-weight: bold;
    text-decoration: none;
}

#sidebar h3 {
    font-family: "Libre Baskerville", serif;
}

#package, #package2 {
    font-size: 1vw;
    width: 100%;
}

/* Package Icons */

#logo {
    padding: 20px;
    background-color: white;
    border-radius: 100%;
}

/* Main contents */

#mainContent {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-y: scroll;
    height: 100vh;
    background-color: rgb(230, 216, 196);
}

#top {
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
    font-family: "Work Sans", sans-serif;
}

#header {
    margin-left: 5vw;
    font-family: "Work Sans", serif;
    font-weight: 600;
}

#guide {
    color: white;
    padding: 15px;
    margin-right: 5vw;
}


/* Cards */

#mainview {
    margin: 2vh 5vw;
    padding-bottom: 5vh;
    z-index: 1000;
    /* display: flex; */
}

#card {
    border: 4px solid black;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    break-inside: avoid-column;
    margin-bottom: 5vh; 
    padding: 1vh 1vw;
    z-index: 1000;
}

#card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 110%;
    color: #455EB2;
    height: 5vh;
    padding-bottom: 0;
}

.card-text {
    text-align: left;
    font-size: 125%;
    margin: 0;
}

.card-text img, .card-text iframe {
    width: 100%;
}

/* Desktop Screen */
@media all and (min-width: 600px) {

    #sidebar {
        width: 20vw;
        height: 100vh;
        flex-direction: column;
        padding-top: 5vh;
    }

    #main-screen {
        flex-direction: row;
    }

    #sidebar a {
        font-size: 1.5vw;
        margin-bottom: 15px;
    }

    #sidebar h3 {
        font-size: 2vw;
        margin: 2vh;
    }

    #package, #package2 {
        margin-bottom: 3vh;
        font-size: 1vw;
    }

    #package {
        margin-top: 5vh;
    }

    #logo {
        width: 10vw;
        padding: 20px;
    }

    .package-icon {
        width: 3vw;
    }

    #top {
        max-height: 20vh;
        flex-direction: row;
    }

    #header {
        font-size: 6vw;
    }

    #guide {
        background-color: rgb(50, 47, 46);
        height: 70%;
        max-height: 7vw;
        margin: auto 5vw;
        width: 30vw;
        text-align: right;
        display: flex;
        align-items: center;
    }

    #guide p {
        margin-bottom: 0;
        font-size: 1.2vw;
    }

    #mainview {
        columns: 32vw;
        column-gap: 3vw;
    }

    #card-header {
        padding: 1.25vw;
    }

    #scroll-blocker {
        display: none;
    }

}

/* Phone Screen */
@media all and (max-width: 600px) {
    
    #sidebar {
        width: 100vw;
        height: 10vh;
        flex-direction: row;
        padding: 1.5vw;
        overflow-x: auto;
        overflow-y: hidden;
        /* border-right: 15px solid rgba(0,0,0);
		box-shadow: inset -30px 0px 50px 0px rgb(0, 0, 0); */
    }

    #scroll-blocker {
        display: block;
        width: 15vw;
        height: 10vh;
        z-index: 1000000;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(to right,rgb(50, 47, 46, 0), rgb(50, 47, 46, 1));
    }

    #main-screen {
        flex-direction: column;
    }

    #sidebar a {
        font-size: 18px;
        margin: auto 10px;
    }

    #sidebar h3 {
        display: none;
    }

    #package, #package2 {
        display: flex;
        flex-direction: row;
        margin: 0 10px;
    }

    #package {
        padding-left: 5px
    }

    #package2 {
        padding-right: 30px;
    }

    #package a, #package2 a {
        width: 100px;
    }

    #logo {
        width: 40px;
        padding: 5px;
        margin-right: 10px;
    }

    .package-icon {
        width: 20px;
        margin-top: -5px;
    }

    #top {
        height: 25vh;
        flex-direction: column;
        margin-bottom: 4vh;
    }

    #header {
        font-size: 15vw;
        height: 10vh;
        margin: 2vh 0 4vh 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #guide {
        background-color: rgba(50, 47, 46, 0.75);
        max-height: 12vh;
        width: 100vw;
        text-align: center;
    }

    #guide p {
        margin: auto 0;
        font-size: 4vw;
    }

    #mainview {
        columns: 80vw;
        column-gap: 3vh;
    }

    #card-header {
        padding: 2vh 5vw;
    }

}

