/* SEND AND RECEIVE BOXES */

/* Screen layout */

#subtitle {
    display: block;
  font-family: "Work Sans", sans-serif;
  text-align: left;
  margin-bottom: 3vh;
}

.boxScreen {
  display: flex;
  text-align: center;
  align-content: center;
}

#boxMainView {
  padding: 10px;
  margin: 0 5vw;
}

/* Boxes to view contents */

.box {
  background-color: white;
  border: 4px solid black;
  border-radius: 30px;
  font-family: "Work Sans", sans-serif;
  overflow-y: auto;
  padding: 30px;
}

.item {
  border-bottom: 3px solid #938e8f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 110%;
  margin: 1.5vh auto;
  padding: 10px;
}

.item img {
    width: 100%;
}

.box h4 {
  font-size: 110%;
}

/* Menu to add items to box */

#addToBox {
  background-color: #455EB2; 
  color: white;
  font-family: "Libre Baskerville", serif;
}

#list a {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  font-family: "Work Sans", sans-serif;
}

/* Pop up modals for choosing content */

#modalForm {
  padding: 20px;
  border-radius: 50px;
  z-index: 10000;
}

/* Browse files */
#uploadMeme {
  font-size: 20px; 
  margin: 20px auto;
}

#zoomForm, #memeForm, #songForm, #medForm, #messageForm {
    text-align: center;
}

/* Submit / send / view buttons */

#submit {
  background-color: #455EB2;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: white;
}

#submit:hover {
  background-color: #3a3335;
  cursor: pointer;
}

/* Choose boxes to view in receive screen */

#chooseBox {
    height: 55vh;
}

#viewBox {
    margin: 0;
    height: 55vh;
    overflow-y: auto;
}

#viewBoxDesc {
    margin-bottom: 3vh;
}

/* List delivered boxes */

#boxInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    border-bottom: 4px solid #3a3335;
}

#boxList {
    margin: 20px 0;
}

#packageInfo {
    margin: 10px 0;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 0;
    height: 8vh;
}

/* Select box to view */

#selectBoxMenu {
    width: 20vw;
    display: flex;
    margin: 2vh auto;
}

/* Popup notification */
#alert {
    display: none;
}

/* Desktop Screen */
@media all and (min-width: 600px) {

    #subtitle {
        font-size: 140%;
    }

    .boxScreen {
        flex-direction: row;
        justify-content: space-between;
    }

    .box {
        width: 35vw;
        height: 55vh;
        margin-left: 5vw;
    }

    #list a {
        width: 30vw;
        margin: 10px;
    }

    #submit {
        margin: 20px 0;
        width: 150px;
    }

    #chooseBox {
        width: 50vw;
    }

    #viewBox {
        width: 55vw;
    }

    #packageInfo {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 10px;
        height: 100%;
    }

    #packageInfo p {
        font-size: 1vw; 
        text-align: left;
        margin: auto 10px 0;
        width: 80%;
    }

    #packageInfo .package-icon {
        width: 20%;
    }

    #uploadMeme {
        width: 50%;
    }

}

/* Phone Screen */
@media all and (max-width: 600px) {

    #subtitle {
        margin-top: 2vh;
        font-size: 4vw;
    }

    .boxScreen {
        flex-direction: column;
        justify-content: center;
    }

    .box {
        width: 100%;
        min-height: 50vh;
        margin: 5vh 0;
    }

    #list a {
        width: 80vw;
        margin: 10px 0;
        font-size: 4vw;
    }

    .list-group {
        align-items: center;
    }

    .modal-title {
        font-size: 100%;
    }

    #submit {
        margin: 12px 0;
        width: 45vw;
        font-size: 4vw;
    }

    #chooseBox {
        width: 100%;
        height: 100%;
    }

    #viewBox {
        width: 100%;
        height: 100%;
    }

    #packageInfo {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 10px;
        height: 100%;
    }

    #packageInfo p {
        font-size: 4vw; 
        text-align: left;
        margin: auto 10px 0;
        width: 85%;
    }

    #packageInfo .package-icon {
        width: 15%;
    }

    #uploadMeme {
        width: 80%;
    }
    
}