/* Main CSS */

main {
  overflow-x: auto;
  text-align: center;
}

/* SIGN IN & LOG IN FORMS */

/* Form body */
#user-layout-body {
  background-color: rgb(201, 184, 159);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: antiquewhite;
  padding: 5vw;
  border-radius: 50px;
  z-index: 10;
}

/* Desktop */
@media all and (min-width: 600px) {
    .form {
        min-width: 30vw;
        max-width: 45vw;
    }

    .form h1 {
        font-size: 4.5vw;
        margin-bottom: 5vh;
    }

    #field {
        width: 20vw;
    }

    #enterButton {
        width: 10vw;
    }
}

/* Phone screens */
@media all and (max-width: 600px) {
    .form {
        min-width: 350px;
        max-width: 400px;
        padding: 30px;
    }

    .form h1 {
        margin-top: 5vh;
        font-size: 60px;
    }

    #field {
        width:100%;
    }

    #enterButton {
        width: 200px;
        margin-top: 2vh;
        margin-bottom: 5vh;
    }
}

/* Text in form */
.form h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  margin-bottom: 5vh;
}

.form p {
  font-size: 125%;
  margin-bottom: 5vh;
}

.form h4 {
    font-weight: 400;
  font-size: 150%;
  margin-bottom: 5vh;
}

#userForm h5 {
    font-weight: lighter;
    margin-bottom: 5vh;
    font-size: 100%;
}

/* Input fields */
#field {
  font-size: 110%;
  height: 5vh;
  border: none;
  border-bottom: 3px solid black;
}

#enterButton {
    border-radius: 20px;
    background-color: rgb(76, 80, 91);
    border: none;
    font-size: 100%;
    height: 5vh;
    padding: 5px;
    color: white;
}

#enterButton:hover {
    background-color: #455EB2;
}