<!-- WELCOME PAGE -->
{% extends "user-layout.html" %}

{% block title %}
Welcome
{% endblock %}

{% block main %}
<h1>Welcome to Boxed In.</h1>
<h1>You have successfully signed up!</h1>
<h4>Boxed In is a platform to encourage community spirit among students and teachers during 2020.</h4>
<br>
<h4>Share and receive random virtual care packages from containing funny stories from Zoom, memes, videos, meditations, and supportive messages.</h4>

<h5>When using Boxed In, please be mindful of what you send.</h5>

<a href="/login">
    <button class="btn btn-primary" id="enterButton" style="width: 15vw;">Next</button>
</a>

{% endblock %}