{% extends "box-layout.html" %}

{% block title %}
Your boxes
{% endblock %}

{% block name %}
{{ username }}
{% endblock %}

{% block header %}
Your boxes
{% endblock %}

{% block guide %}
What comes around goes around. The more boxes sent, the better!
{% endblock %}

{% block main %}
<p id="subtitle">Here are the packages that other students have sent you, listed by sender, date and package ID. Perhaps you'd like to pass it on by sending a box to someone else?</p>

<div class="boxScreen">

    <div class="box animated slideInLeft slow" id="viewBox">
        <h4 id="viewBoxDesc">View package contents</h4>

        <div id="boxInfo">
            {% if openBox %}
                <p>From {{ sender }}</p>
                <p>Sent {{ time }}</p>
            {% endif %}
        </div>

        {% for item in openBox %}
            {% if item != None %}
                <div class="item">{{ item|safe }}</div>
            {% endif %}
        {% endfor %}

    </div>

    <div class="box animated slideInRight slow" id="chooseBox">
        <h4>Packages received</h4>
        <div class="list-group" id="boxList">
        
            <!-- Display boxes -->
            {% for box in deliveries %}
            <div class="list-group-item list-group-item-action disabled" id="packageInfo">
                <img src="/static/vectors/sendBox.svg" class="package-icon" style="margin-right: 10px;">
                <p style="font-size: 1vw; text-align: left;">From: {{ box['senderName'] }}.  Sent {{ box['time'] }}.  <br><strong>Package ID: {{ box['packageId'] }}</strong>.</p>
            </div>
            {% endfor %}

        </div>

        <p>Choose a package to open by ID.</p>

        <!-- Menu to select box to view -->
        <form action="/receive" method="post">
            <select class="form-control form-control-lg" name="selectBox" id="selectBoxMenu">
                {% for box in deliveries %}
                <option>{{ box['packageId'] }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" id="submit" type="submit">Open</button>
        </form>
        
    </div>

</div>

{% endblock %}